<div id="content">
	<p class="success"><span ><%= flash[:notice] %></span></p>
	
	<%# TODO: Current user project %>
	<%# TODO: Latest event related to current user %>
</div>

<div id="sidebar">

</div>