<div id="content">
	<p class="success"><span ><%= flash[:notice] %></span></p>
	
    <h2>My Projects</h2>
    <table width="100%" id="projects">
        <tr>
            <th width="10%">Code</th>
            <th>Project Name</th>
            <th>&nbsp;</th>
        </tr>

        <% @projects.each do |project| %>
        <tr>
            <td style="text-align:center;"><%= link_to project.code, project_path(project.code) %></td>
            <td><%= h project.name %></td>
            <td>
              <% link_to project_path(project.code) do %>
                <img src="/images/icons/application_view_detail.png">
              <% end %>
            </td>
        </tr>
        <% end %>
    </table>

	<%# TODO: Latest event related to current user %>
</div>

<div id="sidebar">

</div>