[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
[submodule "vendor/plugins/webrat"]
	path = vendor/plugins/webrat
	url = git://github.com/brynary/webrat.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/rack-mount"]
	path = vendor/plugins/rack-mount
	url = git://github.com/josh/rack-mount.git
