<table width="100%" id="task-statuses">
  <tr>
    <th>Display Name</th>
    <th width="5%"></th>
    <th width="10%"></th>
    <th width="10%"></th>
  </tr>

  <% for task_status in @task_statuses %>
  <input type="hidden" name="id" value="<%= task_status.id %>" />
  <tr>
    <td><%= task_status.display_name %></td>
    <td style="background-color:<%= task_status.hash_color %>"></td>
    <td style="text-align:center;">
      <% if not task_status.eql? @task_statuses.first %>
      <a href="#" class="up">
        <img src="/images/icons/arrow_up.png">
      </a>
      <% end %>
      <% if not task_status.eql? @task_statuses.last %>
      <a href="#" class="down">
        <img src="/images/icons/arrow_down.png">
      </a>
      <% end %>
    </td>
    <td><%= link_to 'Delete', [:admin,task_status], :method => :delete, :remote => true %></td>
  </tr>
  <% end %>
</table>