<div id="content">

</div>

<div id="sidebar">
  <ul>
  	<li><%= link_to 'Users', admin_users_path, :class => 'list' %></li>
    <li><%= link_to 'Task Statuses', admin_task_statuses_path, :class => 'list' %></li>
    <li><%= link_to 'Meeting Types', admin_meeting_types_path, :class => 'list' %></li>
  </ul>
</div>