<div id="content">
    <table width="100%" id="projects">
        <tr>
            <th>Key</th>
            <th width="50%">Display Name</th>
            <th>Default</th>
        </tr>

        <% for task_status in @task_statuses %>
        <tr>
            <td><%= link_to task_status.key, task_status_path(task_status.id) %></td>
            <td><%= h task_status.display_name %></td>
            <td style="text-align:center;"><% if task_status.default_status %><img src="/images/icons/accept.png"/><% end %></td>
        </tr>
        <% end %>
    </table>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Add New Task Status', new_task_status_path, :class => 'add' %></li>
  </ul>
</div>