#header { background: #7F99BE url('/images/header-bg.gif') repeat-x center; }

#header h2{ font-family: Helvetica; font-style: italic; font-size: 15px;  color: white; padding: 5px ; letter-spacing: -1px; }

.backlog-block{ padding: 5px; border: 1px solid #eee; float: left; margin: 4px 0 4px 4px; }

.icon-add { background-image: url('/images/icons/add.png') !important; }
.icon-delete { background-image: url('/images/icons/delete.png') !important; }
.icon-edit { background-image: url('/images/icons/note_edit.png') !important; }