.add { background: url('/images/icons/add.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.delete { background: url('/images/icons/delete.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.edit { background: url('/images/icons/page_edit.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.list { background: url('/images/icons/application_view_list.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.accept { background: url('/images/icons/accept.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.dashboard { background: url('/images/icons/application_cascade.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.taskboard { background: url('/images/icons/table.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.chart { background: url('/images/icons/chart_line.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
.detail { background: url('/images/icons/application_view_detail.png') no-repeat center left !important; margin-left: 5px; vertical-align:middle; }
/*
.submit_btn { text-indent: -1000em; width:75px; height: 27px; background: transparent url('/images/submit.png') no-repeat center top;
    padding:0; border: 0; margin: 1px; }
.cancel_btn { text-indent: -1000em; width:75px; height: 25px; background: transparent url('/images/cancel.png') no-repeat center top;
    padding:0; border: 0; margin: 1px; }
.save_btn { text-indent: -1000em; width:75px; height: 25px; background: transparent url('/images/save.png') no-repeat center top;
    padding:0; border: 0; margin: 1px; }
 */
.feature-card { border: 1px solid #ccc; background-color: #ffcceb; }
.feature-card .title { float:right; padding: 2px; }
.feature-card .desc { padding: 3px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.feature-card .date { float:right; font-size:10px; padding: 2px; }

.task-card { border: 1px solid #ccc; margin: 1pt; display:block; background-color: #f9ff9c; }
.task-card .title { float:right; padding: 2px; }
.task-card .desc { padding: 3px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.task-card .date { float:right; font-size:10px; padding: 2px; }

.status { color: white; text-align: center; font-weight: bold;  min-height:15px; vertical-align:middle; }
.more { border: 1px solid #9bb8d9; color: #406299; padding:5px; text-align: center; cursor:pointer; }
.number { font: 1.5em "Arial Black"; color:#333; text-align:center; }
.inline { background: white; border:none; border-bottom: 1px solid #ccc; font: 12px Verdana; width:100%; }
.panel{ background: #f4f4f4; padding:10px; border:1px solid #ccc; }

#header { background: #06266f; width:100%; }

#top-band { padding: 5px; }
#top-band, #top-band a { color: white; }
#title { float:left; font: bold 15px Helvetica; letter-spacing: -1px; }
#title a { text-decoration: none; }
#login-info { float:right; font: 11px Verdana; }
#bottom-band { height: 30px; position: relative; padding: 0 5px 0 5px; }
#bottom-band li { margin-right: 10px; }
#bottom-band a { text-decoration:none; font: 15px Arial; height:16px; color:#fff; letter-spacing:-0.7px; background-color: #2a4480; padding: 5px 5px 0 5px; }
#bottom-band a:hover { background-color: #1240ab; }

#left-menu { position:absolute; bottom:0; }
#left-menu li{ float:left; }
#right-menu { position:absolute; bottom:0; right: 0; }
#right-menu li { float: left; }

#stripe { height:5px; background-color: #2a4480; }

#wrapper { padding: 10px; }
#middle {  }

#neck { width: 100%; }
#left-neck { position: relative; width: 970px; float: left; }
#right-neck { position: relative; margin-left: 10px; float: left;}
#breadcrumb { float:left; }
#search { float:right; }

#switcher{ float:left; width: 250px }
#project_switcher { position:relative; z-index: 120; zoom:1;  }
#current_project { z-index: 200; float:left;  }
#projects_menu{ position:absolute; top: .2em; right: 0; list-style: none; z-index: 180; max-width:250px; background-color: #E0EAF4; display:block; box-shadow: 5px 5px 5px #ccc; }
#projects_menu li { width:100%; padding:.5em; min-width: 250px; }
#projects_menu a, #current_project { font: bold 1.5em Helvetica; color: #333; background:none; text-shadow: #fff 1px 1px 0; letter-spacing:-0.75px; display:block; text-decoration: none; }

#content { float:left; padding: 10px; font: 12px Verdana; background-color:#fff; width: 950px; min-height: 500px; margin-top: 10px; }
#content li { line-height: 2em; }
#content input[type='submit']{ float:left; }
#content th { font: bold 13px Verdana; padding: 0.5em; background: #f4f4f4; border:2px solid white; text-shadow: 1px 1px 0 #fff; }
#content td { padding: 0.2em; border-bottom: 1px solid #f4f4f4; }
#content td a { text-decoration:none; }
#content td a:hover { background: black; color: white; }

#feature .card { float:left; text-align:center; margin-right:1em; border: 1px solid #9bb8d9; color: #123864; background-color: #dedfff; width:30%; }
#feature .card .title { padding:3px; border-bottom: 1px solid #9bb8d9; }
#feature .card h2 { font-size:3em }

#releases h2.card { background-color:#eee; text-shadow: 1px 1px 0 #fff; }
#releases h2.card a { color: #123864; font-family: Helvetica; font-weight: bold; font-size:2em; letter-spacing:-0.6px; text-decoration:none }

.feature{ text-align:center; width:95%; height:25px; margin-bottom: 1em; }

ul#audit { padding-left: 15px; }
ul#audit li { list-style: disc; }

#info-box, .info-list { border: 1px solid #9bb8d9; color: #406299; padding: 5px; background-color: #dedfff; }
li.info-list { margin: 1em 0 1em 0; }
.info-list strong{ text-shadow: 1px 1px 0 #fff; }

#sidebar { float:left; width: 350px; margin-left: 10px; }
#sidebar a{ text-decoration:none; display:block; padding: 0.5em 0.5em 0.5em 1.5em; font: bold 16px Helvetica; text-shadow: 1px 1px 0 #fff; }
#sidebar a:hover { background:white; }
#sidebar .block { margin: 2em 0 0 .5em; }
#sidebar h2 { margin: .5em 0 1em .25em; font-family: Helvetica; text-shadow: 1px 1px 0 #fff; }

#users_form { padding: 1em; background-color: #fff; }
#users_form form input[type='text'], #users_form form input[type='password']{ width:98%; }

#left { float:left; margin-right:2em; width:40%; }
#right { float:left; width: 55%; }

#members, #releases, #sprints { margin-top: 1.2em; }

#error_explanation { font: 11px verdana, sans-serif; color: #be0b0b; margin-bottom: 1em; background-color: #ffe1da; padding:5px; }
#error_explanation li { background: url('/images/icons/exclamation.png') 6px 50% no-repeat; border-color: #f34f4f; color: #be0b0b; text-indent: 25px;}
.fieldWithErrors input{ border: 1px solid #f34f4f; }

.success { background: #e2f9e3 url('/images/icons/accept.png') 6px 50% no-repeat; border-color: #9c9; color: #080; padding: 5px; display:none}
.success span { margin-left: 10px; padding-left: 10px; }
.info { background: url('/images/icons/information.png') 6px 50% no-repeat; color: #406299; padding: 5px; text-indent: 20px; }
.small { font: 11px verdana; }
.number_input { text-align:right; }
.notice { background: #e2f9e3; color: #080; font: bolder 11px verdana; width: 450px; margin: 0 auto 0 auto; /* border: 1px solid #9c9; */}

/** Plugins */
#tooltip { position: absolute; z-index: 3000; border: 1px solid #111;	background-color: #eee; padding: 5px; opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; font:12px verdana; }
.tooltip { background-color:#000; border:1px solid #fff; padding:5px 10px; display:none; color:#fff; text-align:left; font:10px verdana;
    min-width:200px; -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; }
