<ul>
  <li><%= link_to 'Update My account', edit_user_path(@current_user), :class => 'edit' %></li>
  <li><%= link_to 'Change Password', change_password_user_path(@current_user), :class => 'edit'  %></li>
</ul>