<div id="content">
    <p>
      <%= label_tag(:login) %><br />
      <%= @user.login %>
    </p>

    <p>
      <%= label_tag(:email) %><br />
      <%= @user.email %><br />
    </p>
</div>

<div id="sidebar">

</div>
