<% @events.each do |event| %>
  <li class="bbordeered">
    <div><%= raw event.description %></div>
    <em class="post-info"><%= time_ago_in_words event.created_at %>&nbsp;ago.</em>
  </li>
<% end %>