<div id="content">
    <p class="success"><span><%= flash[:notice] %></span></p>

    <table width="100%" id="meeting-types">
        <tr>
          <th>Type</th>
          <th>Description</th>
          <th>&nbsp;</th>
        </tr>
        <% for meeting_type in @meeting_types %>
        <tr>
            <td><%= meeting_type.name %></td>
            <td><%= meeting_type.description %></td>
            <td>
            <% link_to admin_meeting_type_path(meeting_type) do %>                                        
        	  <img src="/images/icons/application_view_detail.png">
      		<% end %>
      		</td>
        </tr>
        <% end %>  
    </table>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Add New Meeting Type', new_admin_meeting_type_path, :class => 'add' %></li>
  </ul>
</div>