<div id="content">

    <script language="javascript" type="text/javascript"> 
        $(document).ready(function(){
            $.getJSON('<%= burndown_path(@project.code) %>', function(response){
                var data = [];

                $.each(response, function(key, val) {
                    var plot = []
                    plot.push(key); // timestamp
                    plot.push(val); // total tasks

                    data.push(plot);
                });

                $.plot($("#placeholder"), [data], {
                    xaxis: {
                        mode: "time",
                        minTickSize: [1, "day"],
                        timeformat: "%d/%m/%y"
                    },
                    series: {
                      lines: { show: true },
                      points: { show: true }
                    }
                });
            });

        });  

    </script>

    <%# TODO: By default display chart from current sprint %>
    <div id="placeholder" style="width:1000px;height:550px;"></div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
    <%# TODO: Add sprint selector %>
    <%# TODO: Add date selector %>
  </ul>

</div>