<table width="100%" id="feature-statuses">
    <tr>
        <th>Display Name</th>
        <th>Key</th>
        <th width="5%">Default</th>
        <th width="5%"></th>
        <th width="5%">&nbsp;</th>
    </tr>

    <% for feature_status in @feature_statuses %>
    <input type="hidden" name="id" value="<%= feature_status.id %>" />
    <tr>
        <td style="background-color:<%= feature_status.hash_color %>"><%= h feature_status.display_name %></td>
        <td><%= link_to feature_status.key, admin_feature_status_path(feature_status) %></td>
        <td style="text-align:center;"><% if feature_status.default_status %><img src="/images/icons/accept.png"/><% end %></td>
        <td style="text-align:center;">

          <% if not feature_status.eql? @feature_statuses.first %>
          <a href="#" class="up">
            <img src="/images/icons/arrow_up.png">
          </a>
          <% end %>
          <% if not feature_status.eql? @feature_statuses.last %>
          <a href="#" class="down">
            <img src="/images/icons/arrow_down.png">
          </a>
          <% end %>
        </td>
        <td style="text-align:center;">
        <% link_to admin_feature_status_path(feature_status) do %>
          <img src="/images/icons/application_view_detail.png">
        <% end %>
        </td>
    </tr>
    <% end %>
</table>