<% content_for :title do %>
  Free &amp; Opensource Agile Project Management Solution : Projexion
<% end %>

<div id="content">
  <h2>
    Projexion will help you succeed with your Agile projects
  </h2>
</div>