<div id="content">
  <div id="features">
    <%# TODO: Add sprint or release information depending on where it came from %>
    <h1>Product Features</h1>
    <table>
    <% for feature in @features %>
        <tr>
            <td><%= link_to feature.id, project_feature_path(@project.code, feature.id) %></td>
            <td><%= h feature.user_story %></td>
        </tr>
    <% end %>
    </table>
    <%# TODO: Show no features text if there are no features yet %>
  </div>
</div>

<div id="sidebar">
  <%# TODO: Add project dashboard link %>
  <%# TODO: Add back link to release list or sprint list depending on where it came from %>
</div>