<div id="content">
  <div id="features">
    <h1>
      Product Features in
      <% if @release %>
        Release <%= @release.version_number %>
      <% elsif @sprint %>
        Sprint <%= @sprint.span_date %>  
      <% end %>
    </h1>
    <% unless @features.empty? %>
        <table>
        <% for feature in @features %>
            <tr>
              <td><%= h feature.user_story %></td>
              <td>
                  <% link_to project_feature_path(@project.code, feature.id) do %>
                    <img src="/images/icons/application_view_detail.png">
                  <% end %>
              </td>
            </tr>
        <% end %>
        </table>
     <% else %>
        <p class="info">
        There are no features yet.
        </p>
     <% end %>   
    <%# TODO: Paginate list %>
  </div>
</div>

<div id="sidebar">
  <ul>
    <li><%= link_to 'Project Dashboard', project_path(@project.code), :class => 'dashboard' %></li>
  </ul>  
  <%# TODO: Add back link to release list or sprint list depending on where it came from %>
</div>