<div id="footer">
  <a href="http://projexionist.com/">Projexion</a> v<%= APPLICATION[:version] %> is a Free Software licensed under <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU GPL v3.0</a>. <br/>
  <a href="http://projexionist.com/consulting">Contact us</a> for more info on how we can help you with your project.
</div>